.image-viewer {
  border: solid 1px black;

  &__nav {
    border: solid 1px black;
    
    .nav-item {
      border: solid 1px black;
      margin-right: 1rem !important;
    }
  }


  &__main {
    border: solid 1px black;
    display: flex; 
  }

  &__sidebar {
    width: 15%;
    border: solid 1px black;
    padding-left: 10px;
  }

  &__viewer {
    width: 85%;
    border: solid 1px black;
  }

  &__image {
    img {
      max-height: 80vh;
    }
  }
}

.form-field-group {
  display: flex;
  flex-direction: column;
}