.image-viewer {

  &__nav {

    .nav-item {
      margin-right: 1rem !important;
    }
    .nav-button {
      color: white !important;
      background-color: teal;
      padding: 3px;
    }
  }


  &__main {
    display: flex;
  }

  &__sidebar {
    width: 10%;
    padding-left: 10px;
    padding-top: 10px;

    h5 {
      letter-spacing: 1px !important;
    }
  }

  &__viewer {
    width: 90%;
  }

  &__image {
    img {
      padding-top: 10px;
      padding-left: 10px;
      max-width: 768px;
    }
  }
}

.form-field-group {
  display: flex;
  flex-direction: column;
}
